* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3a6166;
    color: black;
    line-height: 1.5;
}

.nome {
  position: relative;
  margin-left: 30px;
  margin-bottom: 1.5%;
  background-color: rgb(1, 1, 29);
  height: 35px;
  width: 320px;
  color: white;
  letter-spacing: 2.5px;
}

h3{
    border-bottom:2px solid #1e373a;
}
ul{
    margin-left: 20px;
}

a{
	color:#000
	}

.curriculo {
    width: 800px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px black;
}

.rodape{
    text-align: center;
}

footer{
    color: white;
}